.alert {
  padding: 12px;
  border-radius: 3px;
  font-size: 1.2rem;
  margin-bottom: 16px;
  border-width: 2px;
  border-style: solid;
}

.alert-error {
  border-color: darkred;
  background-color: red;
  color: white;
}

.alert-info {
  border-color: orange;
  background-color: yellow;
  color: black;
}

body { padding: 10px }

.admin-view {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.admin-view input[type="checkbox"],
.admin-view label {
  margin: 5px 0px;
  padding-left: 5px;
}